.row{
    justify-content: center;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
}

h3{
    color: green;
}

h4{
    color: orange
}
.img-tshirt{
    height: 200px; 
    width: 200px; 
    margin-left: 37px
}

h5{
    margin-left: 115px
}
h6{
    margin-left: 122px
}

.footer{
    height: 80px;
     width: 80px; 
     border-radius: 15px
}


